<mat-sidenav-container class="layout-container">
  <mat-sidenav
    #drawer
    class="sideNav"
    mode="over"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/users">
        <mat-icon>bubble_chart</mat-icon>
        Usuarios
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="layout-container_content">
    <mat-toolbar class="header">
      <button
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>
      </button>
      <span>Angular Crud</span>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
